Repository buildog-dev/buildog, pull requests merged in 2024-08, with the labels that each got.

#50 feat: add documentation project
  README.md
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/_meta.json
  apps/docs/pages/getting-started/authentication.md
  apps/docs/pages/getting-started/database.mdx
  apps/docs/pages/how-buildog-works.md
  apps/docs/pages/index.md
  apps/docs/theme.config.jsx
Labels: docs

#62 fix(api): update user id length on sql tables
  apps/api/pkg/database/tables.md
Labels: good first issue, api

#58 feat(buildog): add tab for teams on settings screen
  .gitignore
  apps/buildog/src/app/(blog-pages)/settings/page.tsx
  apps/buildog/src/components/organizations.tsx
  apps/docs/pages/getting-started/database.mdx
  packages/ui/components/ui/context-menu.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard

#59 feat(web-sdk)(buildog)(api): authentication flow
  .gitignore
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/pkg/firebase/firebase.go
  apps/api/pkg/handlers/auth.go
  apps/api/pkg/handlers/signup.go
  apps/api/pkg/middleware/jwt.go
  apps/api/pkg/router/router.go
  apps/buildog/src/app/layout.tsx
  apps/buildog/src/app/login/page.tsx
  apps/buildog/src/app/signup/page.tsx
  apps/buildog/src/components/app-bar.tsx
  apps/buildog/src/components/auth-provider.tsx
  apps/buildog/src/components/user-auth-form.tsx
  apps/buildog/src/components/user-sign-up-form.tsx
  apps/buildog/src/web-sdk.ts
  apps/docs/images/auth/create-firebase-project.png
  apps/docs/images/auth/firebase-authentication-email-password.png
  apps/docs/images/auth/firebase-authentication-signin-methods.png
  apps/docs/images/auth/firebase-authentication.png
  apps/docs/images/auth/firebase-disable-analytics.png
  apps/docs/images/auth/firebase-get-sdk-keys.png
  apps/docs/images/auth/firebase-give-project-name.png
  apps/docs/images/auth/firebase-project-settings.png
  apps/docs/images/auth/firebase-service-accounts.png
  apps/docs/images/auth/firebase-settings-redirect.png
  apps/docs/images/auth/firebase-web-register-app.png
  apps/docs/pages/getting-started/_meta.json
  apps/docs/pages/getting-started/authentication.md
  apps/docs/pages/getting-started/environment-variables.mdx
  packages/web-sdk/authenticator.ts
  packages/web-sdk/index.ts
  packages/web-sdk/package.json
  packages/web-sdk/serviceClient.ts
  pnpm-lock.yaml
Labels: docs, api, dashboard

#63 feat(buildog): add status and slug column to blog table
  .gitignore
  apps/buildog/src/app/(blog-pages)/blog/page.tsx
  packages/ui/components/ui/data-table.tsx
Labels: good first issue, dashboard
